<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lottery.app.mapper.LotteryMapper">
  <select id="selectAll" resultType="com.lottery.app.entity.Lottery">
    select * from TODO.L_USER_DATA
  </select>
</mapper>