<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>TodoApp</title>
</head>
<body>
  <div class="login-page">
        <div class="form">
          <!-- <form class="register-form">
            <input type="text" placeholder="name"/>
            <input type="password" placeholder="password"/>
            <input type="text" placeholder="email address"/>
            <button>create</button>
            <p class="message">Already registered? <a href="#">Sign In</a></p>
          </form> -->
          <form class="create-form">
            <p class="message">会員番号：〇〇〇〇〇〇</p>
            <input type="text" placeholder="name"/>
            <input type="text" placeholder="mail"/>
            <input type="password" placeholder="password"/>
            <input type="text" placeholder="address"/>
            <input type="text" placeholder="tel"/>

            <button>create</button>
            <button>change</button>
            <a href="./login.html">cancel</a>
            <!-- <button onclick="location.href='./login.html'">cancel</button> -->
            <button>Quit</button>
          </form>
        </div>
      </div>
</body>
</html>