<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>TodoApp</title>
</head>
<body>
  <div class="user-page">
        <div class="user-home">
            <h1>my page</h1>
            <div class="mypage-line">
                <button>userdata change</button>
                <div>
                    <h2>registration history</h2>
                    <div class="box">aaa仮置き</div>

                </div>
            </div>
          <!-- <form class="create-form">
            <p class="message">会員番号：〇〇〇〇〇〇</p>
            <input type="text" placeholder="name"/>
            <input type="text" placeholder="mail"/>
            <input type="password" placeholder="password"/>
            <input type="text" placeholder="address"/>
            <input type="text" placeholder="tel"/>

            <button>create</button>
            <a href="./login.html">cancel</a>
          </form> -->
        </div>
    </div>
</body>
</html>